.brands {
  @include for-size(desktophd) {
    padding-bottom: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-main-regular);
    text-align: center;
    margin-bottom: 30px;
  }
  &__list {
    @extend %list;
    display: grid;
    grid-template-columns: 1fr;
    @include for-size(tabletsd) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-size(tablethd) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include for-size(desktophd) {
      border-radius: 12px;
      overflow: hidden;
      margin: 0 100px;
    }
  }
  &__link {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item:nth-child(n + 7) {
    display: none;
    @include for-size(tabletsd) {
      display: block;
    }
  }
}
