.services {
  padding-top: 30px;
  padding-bottom: 60px;
  @include for-size(tabletsd) {
    padding-top: 60px;
  }

  &__wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: fit-content;
    color: var(--color-active-regular);
    transition: color var(--animation);
    &:hover,
    &:active {
      color: var(--color-accent);
      cursor: pointer;
    }
  }

  &__image {
    margin-bottom: 30px;
  }
  &__list {
    @extend %list;
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    @include for-size(tabletsd) {
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
    @include for-size(tablethd) {
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: var(--color-active-regular);
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-white);
  }
}
