h1 {
  @include red-text;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  @include for-size(tabletsd) {
    font-size: 38px;
    line-height: 1.21;
  }
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-main-regular);
}

p small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--color-grey-text);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: var(--color-black);
}
