//============
// Global styles
//============

.container {
  margin: 0 auto;
  padding: 0 var(--padding-mobile);
  outline: 1px dotted rgba(105, 20, 216, 0.726);
  @media screen and (max-width: $mobile) {
    max-width: 100vw;
  }
  @include for-size(mobile) {
    max-width: $mobile;
  }
  @include for-size(tablet) {
    padding: 0 var(--padding-tablet);
    max-width: $tablet;
  }
  @include for-size(desktop) {
    padding: 0 var(--padding-desktop);
    max-width: $desktop;
  }
  &__rest-about {
    position: relative;
  }
}

body {
  color: var(--color-white);
  background: rgb(224, 224, 224);
  font-family: var(--font-primary);
  letter-spacing: 0.03em;
  font-size: var(--font-primary-size);
  line-height: 1.19;
}

main {
  margin: 0 auto;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  max-width: $mobile;
  margin: 0 auto;
}
