//============
// Global styles
//============

.container {
  margin: 0 auto;
  padding: 0 var(--padding);
  max-width: $desktop;
}

body {
  color: var(--color-black);
  background: var(--color-white);
  font-family: var(--font-primary);
  letter-spacing: 0.03em;
  font-size: var(--font-primary-size);
  line-height: 1.19;
}

main {
  margin: 0 auto;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  display: block;
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
