//============
// Shame
//============
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address,
button {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.supersoft-bg {
  position: relative;
  background: var(--gradient-Supersoft);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 80px;
  &::before,
  &::after {
    @include pseudo;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    width: calc(100% - 40px);
    background: #cacadb;
    bottom: -10px;
  }
  &::after {
    width: calc(100% - 80px);
    background: #e7e7f2;
    bottom: -20px;
  }
}

body.scroll-disable {
  overflow-y: hidden;
}
