//=======================================
// Do not change the order of those files
//=======================================

// ABSTRACT
@import 'abstracts/variables';

@import 'abstracts/mixins';
@import 'abstracts/helpers';
// @import 'abstracts/functions';

// BASE

@import 'base/reset';
@import 'base/global';
@import 'base/typography';
@import 'base/fonts';
@import 'base/shame';

// LAYOUT

@import 'layout/header';
@import 'layout/mobile-menu';
@import 'layout/modal';
@import 'layout/logo';
@import 'layout/scroll-arrow';
@import 'layout/tabs';
@import 'layout/footer';
@import 'layout/titles';

// COMPONENTS
// @import 'components/logo';
// @import 'components/buttons';

// PAGES
@import 'pages/home/hero';
@import 'pages/home/services';
@import 'pages/home/crew';
@import 'pages/home/brands';
@import 'pages/home/publications';
@import 'pages/home/team';
@import 'pages/service';
@import 'pages/member';
@import 'pages/aboutus';
@import 'pages/publication';
@import 'pages/contact';

// VENDORS
@import 'vendor/bootstrap';
