@charset "UTF-8";
:root {
  --color-white: #ffffff;
  --color-accent-yellow: #f3c653;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Times New Roman", serif;
  --font-logo: "Film P3", sans-serif;
  --animation: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  --padding-mobile: 15px;
  --padding-tablet: 45px;
  --padding-desktop: 85px;
}

/* Add an element with the css class .responsive-helper
 * in your html document to have an indicator at the
 * bottom of your screen of witch breakpoint you are in.
*/
.debug:before {
  position: fixed;
  right: 0;
  bottom: 0;
  content: "Small";
  font-family: sans-serif;
  letter-spacing: 0.05rem;
  color: #fff;
  font-weight: 700;
  background: #000;
  padding: 1rem 2rem;
}
@media (min-width: 1024px) {
  .debug:before {
    content: "medium";
  }
}
@media (min-width: 1440px) {
  .debug:before {
    content: "large";
  }
}
@media (min-width: 1920px) {
  .debug:before {
    content: "xlarge";
  }
}

.map__iframe-link, .map__tel-link, .address, .logo, .footer__link, .header__tel, .header__tel-link, .header__link {
  text-decoration: none;
  color: inherit;
}

.map__tel-list, .map__list, .swiper-wrapper, .socials, .footer__socials, .footer__list, .header__tel-list, .header__list {
  margin: 0;
  padding: 0;
}

.map__tel-list, .map__list, .swiper-wrapper, .socials, .footer__socials, .footer__list, .header__tel-list, .header__list {
  list-style: none;
}

/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*# sourceMappingURL=/sm/b8ae781793ee4eb86edef3f2a2ac43a5575d063ed8cd287d7553f9f1b2776616.map */
.container {
  margin: 0 auto;
  padding: 0 var(--padding-mobile);
  outline: 1px dotted rgba(105, 20, 216, 0.726);
}
@media screen and (max-width: 414px) {
  .container {
    max-width: 100vw;
  }
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 var(--padding-tablet);
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 var(--padding-desktop);
    max-width: 1280px;
  }
}
.container__rest-about {
  position: relative;
}

body {
  color: var(--color-white);
  background-color: #fffdee;
  font-family: var(--font-primary);
  letter-spacing: 0.03em;
  font-size: var(--font-primary-size);
  line-height: 1.19;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  max-width: 414px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .section {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
  }
}

.social {
  color: var(--color-primary-white);
}
.social__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-primary-white);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .social__title {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    display: flex;
    gap: 30px;
    justify-content: start;
  }
}
@media screen and (min-width: 1024px) {
  .row {
    gap: 40px;
  }
}
.row--horizontal-mobile {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .row--horizontal-mobile {
    margin-top: -55px;
    gap: 48px;
  }
}
.row--reversed {
  flex-direction: row-reverse;
}
@media screen and (min-width: 1024px) {
  .row--reversed {
    justify-content: end;
  }
}

.mobile-left {
  margin-right: auto;
}

.mobile-right {
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .mobile-right {
    margin-left: 0;
  }
}
.mobile-right h2,
.mobile-right h3 {
  text-align: right;
}

.col {
  max-width: 258px;
}
@media screen and (min-width: 1024px) {
  .col {
    max-width: 439px;
  }
}
@media screen and (min-width: 1280px) {
  .col {
    max-width: 518px;
  }
}

.title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .title {
    margin-bottom: 4px;
    font-size: 32px;
  }
}

.subtitle1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .subtitle1 {
    font-size: 16px;
  }
}
.subtitle1--brown {
  color: #c79002;
  max-width: 163px;
}
@media screen and (min-width: 1024px) {
  .subtitle1--brown {
    font-size: 16px;
    max-width: 312px;
    margin-bottom: 0px;
  }
}

.picture {
  height: auto;
  border-radius: 2px;
  background: #dadada;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .picture {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
.picture--right {
  width: 244px;
}
@media screen and (min-width: 1024px) {
  .picture--right {
    margin-top: -150px;
    width: 400px;
  }
}
.picture--left {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  .picture--left {
    width: 350px;
  }
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/*--Times New Roman - cyr normal--*/
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/FontsFree-Net-times-new-roman.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-times-new-roman.woff") format("woff"), url("../fonts/FontsFree-Net-times-new-roman.ttf") format("truetype"), url("../fonts/FontsFree-Net-times-new-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--Times New Roman - cyr bold--*/
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/FontsFree-Net-times-new-roman-bold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-times-new-roman-bold.woff") format("woff"), url("../fonts/FontsFree-Net-times-new-roman-bold.ttf") format("truetype"), url("../fonts/FontsFree-Net-times-new-roman-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*--Film P3 - bold--*/
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FontsFree-Net-FilmP3Bold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-FilmP3Bold.woff") format("woff"), url("../fonts/FontsFree-Net-FilmP3Bold.ttf") format("truetype"), url("../fonts/FontsFree-Net-FilmP3Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.header {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 16px;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .header {
    top: 24px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    justify-content: flex-start;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .header__list {
    gap: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .header__list {
    margin-left: 96px;
  }
}
.header__link {
  display: flex;
  align-items: center;
  color: var(--color-accent-yellow);
}
.header__item {
  display: flex;
  gap: 6px;
}
@media screen and (min-width: 1024px) {
  .header__item {
    gap: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .header__tel-link {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
.header__tel {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__tel {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
  }
}
.header__tel-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  position: relative;
  background: #0e0c07;
  padding: 40px 0;
  color: var(--color-accent-yellow);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.08;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 414px) {
  .logo {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 43px;
  }
}
.logo--grey {
  font-size: 40px;
  color: #494848;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .logo--grey {
    font-size: 64px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .logo--grey {
    color: #828282;
  }
}
.logo--accent {
  font-size: 40px;
  color: var(--color-accent-yellow);
}
@media screen and (min-width: 1024px) {
  .logo--accent {
    font-size: 64px;
  }
}
.logo__rest-details {
  font-size: 40px;
  color: #fff;
  margin-bottom: 12px;
}

.address {
  position: absolute;
  max-width: 210px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
}
@media screen and (max-width: 413.98px) {
  .address {
    top: 64px;
    right: var(--padding-mobile);
  }
}
@media screen and (min-width: 414px) and (max-width: 1023.98px) {
  .address {
    top: 64px;
    right: calc((100% - 414px) / 2 + var(--padding-mobile));
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .address {
    bottom: 64px;
    left: calc((100% - 1024px) / 2 + var(--padding-tablet));
  }
}
@media screen and (min-width: 1280px) {
  .address {
    bottom: 64px;
    left: calc((100% - 1280px) / 2 + var(--padding-desktop));
  }
}
.address__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.socials {
  display: flex;
  gap: 20px;
  position: absolute;
}
@media screen and (max-width: 413.98px) {
  .socials {
    left: var(--padding-mobile);
    bottom: 20px;
  }
}
@media screen and (min-width: 414px) and (max-width: 1023.98px) {
  .socials {
    left: calc((100% - 414px) / 2 + var(--padding-mobile));
    bottom: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .socials {
    left: calc((100% - 1024px) / 2 + var(--padding-tablet));
    bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .socials {
    top: 38px;
    right: calc((100% - 1280px) / 2 + var(--padding-desktop));
  }
}

.left .swiper-wrapper {
  left: 15px;
}
.right .swiper-wrapper {
  right: 10px;
}

.swiper-arrows {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next-dark::after,
.swiper-button-prev-dark::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next-dark,
.swiper-button-prev-dark {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
}

section[data-slider=basic] .swiper-slide {
  width: 245px;
}
@media screen and (min-width: 1024px) {
  section[data-slider=basic] .swiper-slide {
    width: 194px;
  }
}
@media screen and (min-width: 1280px) {
  section[data-slider=basic] .swiper-slide {
    width: 254px;
  }
}

section[data-slider=dark] .swiper-slide {
  height: 100%;
  width: 274px;
}
@media screen and (min-width: 1024px) {
  section[data-slider=dark] .swiper-slide {
    width: 270px;
  }
}

section[data-slider=basic] .swiper-container-out {
  overflow-x: hidden;
  padding: 60px;
  outline: 1px dotted red;
}
@media screen and (min-width: 1024px) {
  section[data-slider=basic] .swiper-container-out {
    margin-top: -120px;
    width: 58%;
  }
}
@media screen and (min-width: 1280px) {
  section[data-slider=basic] .swiper-container-out {
    width: 62%;
  }
}

section[data-slider=dark] .swiper-container-out {
  overflow: hidden;
  outline: 1px dotted red;
}
@media screen and (min-width: 1024px) {
  section[data-slider=dark] .swiper-container-out {
    width: 68%;
  }
}
@media screen and (min-width: 1280px) {
  section[data-slider=dark] .swiper-container-out {
    width: 72%;
  }
}

.swiper-slide__image {
  height: 100%;
}

section[data-slider=basic] .swiper-slide {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.swiper-container-out .swiper-slide {
  visibility: hidden;
  border-radius: 2px;
}

.swiper-dark {
  transform: translateX(57px);
}
@media screen and (min-width: 1024px) {
  .swiper-dark {
    transform: translateX(190px);
  }
}

.right .swiper-slide-active,
.left .swiper-slide-active {
  visibility: visible;
}

.right .swiper-slide-next {
  visibility: visible;
}

.left .swiper-slide-prev {
  visibility: visible;
}
@media screen and (min-width: 1024px) {
  .left .swiper-slide-prev {
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .left .swiper-slide-next {
    visibility: visible;
  }
}

@media screen and (min-width: 1024px) {
  section[data-slider=dark] .swiper-slide-prev {
    visibility: visible;
  }
}

.right {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .right {
    margin-left: auto;
    margin-right: 0;
  }
}

.left {
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .left {
    margin-right: auto;
    margin-left: 0;
  }
}

.right .swiper-arrows {
  justify-content: end;
  margin-top: var(--padding-mobile);
  margin-right: var(--padding-mobile);
}

@media screen and (min-width: 1024px) {
  .right .swiper-basic {
    transform: translateX(70px);
  }
}
@media screen and (min-width: 1280px) {
  .right .swiper-basic {
    transform: translateX(114px);
  }
}

.icon {
  display: block;
  color: var(--color-accent-yellow);
  fill: currentColor;
}
.icon__location {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1024px) {
  .icon__phone {
    margin-right: 8px;
  }
}

.button {
  width: 236px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 25px;
  transition: var(--animation);
}
.button:hover {
  border-color: #f3c653;
  background-color: #fff;
  cursor: pointer;
}

.hero {
  padding-top: 181px;
  padding-bottom: 102px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 64px;
  }
}
.hero__title {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  margin-bottom: 24px;
}
@media screen and (min-width: 414px) {
  .hero__title {
    font-size: 96px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 128px;
    margin-bottom: 16px;
  }
}
.hero__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 56px;
  }
}
.hero__motto {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  margin-bottom: 113px;
}
@media screen and (min-width: 1024px) {
  .hero__motto {
    font-size: 36px;
    margin-bottom: 145px;
  }
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .hero__buttons {
    flex-direction: row;
    justify-content: end;
    gap: 24px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero__buttons {
    gap: 60px;
  }
}
.hero__home {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob@2x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob@2x.webp);
    }
  }
}
@media (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob@3x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/mobile/hero-mob@3x.webp);
    }
  }
}
@media screen and (min-width: 1024px) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab.webp);
    }
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab@2x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab@2x.webp);
    }
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 3), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1024px) and (min-resolution: 288dpi), screen and (min-width: 1024px) and (min-resolution: 3dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab@3x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/tablet/hero-tab@3x.webp);
    }
  }
}
@media screen and (min-width: 1280px) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk.webp);
    }
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk@2x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk@2x.webp);
    }
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk@3x.jpg);
  }
  @supports (background: url("../images/hero/home/desktop/hero-desk.webp")) {
    .hero__home {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//hero/home/desktop/hero-desk@3x.webp);
    }
  }
}

.rest-about {
  padding-top: 16px;
  padding-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .rest-about {
    padding-top: 120px;
  }
}
.rest-about__image--right {
  height: auto;
  width: 244px;
  border-radius: 2px;
  background: #dadada;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .rest-about__image--right {
    margin-top: -150px;
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
.rest-about__image--left {
  height: auto;
  width: 200px;
  border-radius: 2px;
  background: #dadada;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .rest-about__image--left {
    width: 350px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
.rest-about__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .rest-about__wrapper {
    gap: 48px;
  }
}

.rest-details {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #7a7a7a;
}
.rest-details__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}
.rest-details__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #bababa;
  margin-bottom: 40px;
}
.rest-details__wrapper {
  margin-left: auto;
  max-width: 259px;
}
@media screen and (min-width: 1024px) {
  .rest-details__wrapper {
    margin-left: 278px;
    max-width: 610px;
  }
}
.rest-details__wrapper--left {
  text-align: right;
  margin-right: auto;
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .rest-details__wrapper-out {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
  .rest-details__wrapper-out.row--reversed {
    flex-direction: row;
  }
}
.rest-details__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .rest-details__buttons {
    margin-bottom: 51px;
  }
}

.rest-details {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@supports (background: url("../images/home/restaurant-details/mobile/background-mob.webp")) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob@2x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/mobile/background-mob.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob@2x.webp);
    }
  }
}
@media (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob@3x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/mobile/background-mob.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/mobile/background-mob@3x.webp);
    }
  }
}
@media screen and (min-width: 1024px) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @supports (background: url("../images/home/restaurant-details/tablet/background-tab.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab.webp);
    }
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab@2x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/tablet/background-tab.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab@2x.webp);
    }
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 3), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1024px) and (min-resolution: 288dpi), screen and (min-width: 1024px) and (min-resolution: 3dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab@3x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/tablet/background-tab.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/tablet/background-tab@3x.webp);
    }
  }
}
@media screen and (min-width: 1280px) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @supports (background: url("../images/home/restaurant-details/desktop/background-desk.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk.webp);
    }
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk@2x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/desktop/background-desk.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk@2x.webp);
    }
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk@3x.jpg);
  }
  @supports (background: url("../images/home/restaurant-details/desktop/background-desk.webp")) {
    .rest-details {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images//home/restaurant-details/desktop/background-desk@3x.webp);
    }
  }
}

.map {
  padding-top: 36px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .map {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .map {
    padding-bottom: 74px;
  }
}
.map__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .map__title {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .map__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.map__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .map__list {
    gap: 24px;
    margin-bottom: 44px;
  }
}
.map__item {
  display: grid;
  grid-template-columns: 120px auto;
}
@media screen and (min-width: 1024px) {
  .map__item {
    display: flex;
    gap: 8px;
    flex-direction: column;
    max-width: 285px;
  }
}
.map__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
}
.map__tel-link {
  display: flex;
  gap: 8px;
  padding: 8px 8px;
  justify-content: start;
  align-items: center;
  background: #ffffff;
  border: 0.5px solid var(--color-accent-yellow);
  border-radius: 2px;
}
.map__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #494848;
  display: inline-block;
}
@media screen and (min-width: 1280px) {
  .map__tel {
    color: #828282;
  }
}
.map__tel-list {
  display: flex;
  gap: 12px;
  align-items: center;
}
.map__iframe {
  width: 100%;
  height: 220px;
  border: 1px solid #bababa;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .map__iframe {
    width: 535px;
    height: 412px;
  }
}
@media screen and (min-width: 1024px) {
  .map__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=index.css.map */