//============
// Variables
//============
:root {
  --color-white: #ffffff;
  --color-accent-yellow: #f3c653;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Times New Roman', serif;
  --font-logo: 'Film P3', sans-serif;
  --animation: 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  --padding-mobile: 15px;
  --padding-tablet: 45px;
  --padding-desktop: 85px;
}

//BREAKPOINTS

$mobile: 414px;
$tablet: 1024px;
$desktop: 1280px;
