//============
// Variables
//============
:root {
  --color-white: #ffffff;
  --color-accent: #f0145a;
  --font-primary: 'Montserrat', sans-serif;

  --animation: 2.5s cubic-bezier(0.19, 1, 0.22, 1);
  --gradient-Supersoft: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  --padding-mobile: 30px;
  --padding-tablet: 60px;
  --padding-desktopsd: 60px;
  --padding-desktophd: 160px;
}

//BREAKPOINTS

$mobile: 375px;
$tabletsd: 768px;
$tablethd: 1024px;
$desktopsd: 1440px;
$desktophd: 1920px;
