.aboutus {
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.22;
    margin-bottom: 28px;
    @include red-text;
    &--down {
      margin-bottom: 0;
      @include for-size(tablethd) {
        margin-left: 30px;
      }
    }
  }
  &__text {
    font-size: 19px;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 30px;
  }
  &__group {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    @include for-size(tabletsd) {
      margin-bottom: 60px;
    }
    @include for-size(tablethd) {
      grid-template-columns: 6fr 4fr;
      gap: 30px;
    }
  }
  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 30px;
    position: relative;
    &::before {
      @include pseudo;
      height: 100%;
      left: -30px;
      width: 4px;
      background-color: var(--color-grey-separator);
    }
  }
  &__wrapper {
    display: flex;
    gap: 13px;
    align-items: center;
    color: var(--color-accent);
    @include red-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 10px;
  }
  &__details {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.22;
    color: var(--color-main-regular);
  }
  &__image {
    margin-bottom: 30px;
    @include for-size(tabletsd) {
      margin-bottom: 60px;
    }
  }
  &__image-wrapper {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.achievements {
  background-color: var(--color-grey-bg);
  padding-top: 30px;
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-main-regular);
    margin-bottom: 30px;
  }
  &__separator {
    margin-top: 30px;
    margin-bottom: 0;
    background-color: var(--color-grey-separator);
  }
}
