.categories {
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  &__list {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  &__button {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    color: #4b48db;
    padding: 8px 21px;
    border: 1px solid #4b48db;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  &__select {
    // padding: 10px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    padding: 8px 30px 8px 21px;
    border: 1px solid #4b48db;
    margin-left: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.row {
  display: flex;
  align-items: center;
}

// .selector select {
//   appearance: none;
//   -webkit-appearance: none;
//   background-color: transparent;
//   border: none;
//   outline: none;
//   padding: 0.5rem 2rem 0.5rem 1rem;
//   font-size: 1rem;
//   color: #333;
//   cursor: pointer;
//   background-image: url('../images/arrow-down.svg');
//   background-repeat: no-repeat;
//   background-position: right 0.5rem center;
//   transition: background-position 0.3s ease;
// }

// .selector select:not(:focus) {
//   background-position: right -0.5rem center;
// }

select {
}
