.contact {
  //   background-color: rgb(245, 194, 194);

  padding-bottom: 30px;
  @include for-size(tabletsd) {
    padding-bottom: 60px;
  }

  &__link {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.43;
    color: var(--color-main-regular);
    margin-bottom: 30px;
    transition: color var(--animation);
    &--active {
      color: var(--color-active-regular);
    }
    &:hover,
    &:active {
      color: var(--color-accent);
    }
    &--small-margin {
      margin-bottom: 15px;
    }
    &--facebook {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 1px;
      text-transform: uppercase;
      gap: 10px;
      margin-bottom: 0;
    }
  }
  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__group {
    display: grid;
    grid-template-columns: 1fr;
    // margin-bottom: 30px;
    @include for-size(tabletsd) {
      // margin-bottom: 60px;
    }
    @include for-size(tablethd) {
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
  }
}
