.member {
  &__image {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 12px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__position {
    margin-bottom: 10px;
  }
  &__link {
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-active-regular);
    margin-bottom: 10px;
    transition: color var(--animation);
    &:hover {
      color: var(--color-accent);
    }
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__details {
    padding-bottom: 20px;
    @include for-size(tabletsd) {
      align-self: center;
    }
    @include for-size(tablethd) {
      align-self: flex-start;
    }
  }
  &__info {
    padding-bottom: 30px;
    @include for-size(tabletsd) {
      grid-column: span 2;
      padding-bottom: 60px;
    }
  }
  &__grid {
    display: grid;
    @include for-size(tabletsd) {
      column-gap: 30px;
      grid-template-columns: 300fr 318fr;
    }
    @include for-size(tablethd) {
      column-gap: 60px;
      grid-template-columns: 300fr 544fr;
    }
  }
}
