.member {
  &__image {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 12px;
    @include for-size(tablethd) {
      grid-row: span 2;
    }
  }
  &__title {
    margin-bottom: 15px;
  }
  &__position {
    margin-bottom: 10px;
    @include for-size(desktopsd) {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-active-regular);

    transition: color var(--animation);
    &:not(:last-child) {
      margin-bottom: 10px;
      @include for-size(desktopsd) {
        margin-bottom: 0;
      }
    }
    &:hover {
      color: var(--color-accent);
    }
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__details {
    padding-bottom: 30px;
    @include for-size(tabletsd) {
      align-self: center;
    }
    @include for-size(tablethd) {
      align-self: flex-start;
    }
  }
  &__info {
    padding-bottom: 30px;
    @include for-size(tabletsd) {
      grid-column: span 2;
      padding-bottom: 60px;
    }
    @include for-size(tablethd) {
      grid-column: unset;
    }
  }
  &__grid {
    display: grid;
    @include for-size(tabletsd) {
      column-gap: 30px;
      grid-template-columns: 300fr 318fr;
    }
    @include for-size(tablethd) {
      column-gap: 60px;
      grid-template-columns: 300fr 544fr;
      grid-template-rows: auto 1fr;
    }
    @include for-size(desktopsd) {
      grid-template-columns: 400fr 620fr;
    }
    @include for-size(desktophd) {
      grid-template-columns: 400fr 900fr;
    }
  }
  &__group {
    @include for-size(desktopsd) {
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }
  &__point:before {
    display: none;
    @include for-size(desktopsd) {
      background-color: var(--color-grey-separator);
      display: block;
    }
  }
}
