.publications {
  background-color: inherit;
  padding-top: 132px;
  padding-bottom: 30px;
  @include for-size(tabletsd) {
    padding-top: calc(60px + 220px);
    padding-bottom: 60px;
  }
  @include for-size(tablethd) {
    padding-top: calc(60px + 116px);
  }
}

.publications-radio {
  display: flex;
  gap: 2px;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  background-color: var(--color-grey-separator);
  padding: 2px;
  border-radius: 12px;
  &__input {
    appearance: none;
    display: none;
    &:checked + label {
      background-color: var(--color-white);
    }
    .light &:checked + label {
      color: var(--color-white);
    }
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.22;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 38px;
    border-radius: 10px;
    overflow: hidden;
    background-color: inherit;
    transition: background-color var(--animation);
    color: var(--color-main-regular);
    cursor: pointer;
    &:hover {
      background-color: var(--color-grey-bg);
    }
    &:active {
      background-color: var(--color-white);
    }
  }
}
