.team {
  padding-top: calc(45px + 87px);

  background-color: grey !important;
  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-main-regular);
  }
}
