<div class="cards">
  <!-- <ul>
    <li class="cards__item">
      <div class="cards__image-wrapper">
        <img src="https://unsplash.it/440/350" class="cards__image" />
        <p class="cards__category">Job searching</p>
        <button class="cards__button">Add to Favorite</button>
      </div>
      <div class="cards__details">
        <h2 class="cards__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="cards__abstract">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div class="cards__row">
          <p class="cards__date">20/02/2021</p>
          <a href="#" class="cards__link">Read more</a>
        </div>
      </div>
    </li>
  </ul> -->
</div>
