<header class="header">
  <div class="header__row header__row--first">
    <div class="radio">
      <input type="radio" name="radio" id="ua" class="radio__input" />
      <label for="ua" class="radio__label">УК</label>
      <input type="radio" name="radio" id="ru" class="radio__input" />
      <label for="ru" class="radio__label">РУ</label>
      <input type="radio" name="radio" id="en" checked class="radio__input" />
      <label for="en" class="radio__label">EN</label>
    </div>
    <a href="tel:0800 211 927" class="header__phone">0800 211 927</a>
  </div>

  <div class="header__row header__row--second">
    <a href="./index.html">
      <img
        src="./images/logo.png"
        alt="Logo"
        width="69"
        height="32"
        class="logo image"
      />
    </a>

    <button
      aria-expanded="false"
      aria-controls="mobile-menu"
      area-label="Menu"
      role="button"
      area-haspopup="dialog"
      id="nav-icon4"
      class="js-open-menu hamburger"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="js-menu">
    <ul class="js-menu__list js-menu__list--copy">
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Home</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">About</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Team</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Services</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Publications</a>
      </li>
    </ul>
  </div>

  <nav></nav>
</header>
