<header class="header">
  <div class="header__row header__row--grey">
    <div class="radio_container">
      <input type="radio" name="radio" id="ua" />
      <label for="ua">УК</label>
      <input type="radio" name="radio" id="ru" />
      <label for="ru">РУ</label>
      <input type="radio" name="radio" id="en" checked />
      <label for="en">EN</label>
    </div>
    <a href="tel:0800 211 927" class="header__phone">0800 211 927</a>
  </div>
  <div class="container">
    <div class="header__row">
      <a href="./index.html">
        <img
          src="./images/logo.png"
          alt="Logo"
          width="69"
          height="32"
          class="logo image"
        />
      </a>

      <button
        aria-expanded="false"
        aria-controls="mobile-menu"
        area-label="Menu"
        role="button"
        area-haspopup="dialog"
        id="nav-icon4"
        class="js-open-menu hamburger"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <!-- <div class="js-menu">
    <ul class="js-menu__list js-menu__list--copy">
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Home</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">About</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Team</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Services</a>
      </li>
      <li class="js-menu__item">
        <a href="" class="js-menu__link">Publications</a>
      </li>
    </ul>
  </div> -->
  <button class="js-close-menu">
    <svg class="icon" width="40" height="40">
      <use href="./images/icons.svg#menu-close"></use>
    </svg>
  </button>
  <nav></nav>
</header>
