<header class="header">
  <div class="header__row">
    <div class="radio_container">
      <input type="radio" name="radio" id="ua" />
      <label for="ua">УК</label>
      <input type="radio" name="radio" id="ru" />
      <label for="ru">РУ</label>
      <input type="radio" name="radio" id="en" checked />
      <label for="en">EN</label>
    </div>
    <a href="tel:0800 211 927" class="header__phone">0800 211 927</a>
  </div>
  <div class="container">
    <div>
      <a href="./index.html">
        <img src="./images/logo.png" alt="Logo" width="69" height="32" />
      </a>
      <button
        aria-expanded="false"
        aria-controls="mobile-menu"
        area-label="Menu"
        role="button"
        area-haspopup="dialog"
        id="nav-icon4"
        class="js-open-menu hamburger"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <nav></nav>
</header>
