//============
// Header
//============

.header {
  padding: 28px 0;
  &__nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.menu {
  @extend %list;
  display: none;
  gap: 15px;
  @include for-size(tablet) {
    display: flex;
  }

  &__link {
    @extend %link;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
  }
}
