//============
// Header
//============
.header {
  &__phone {
    @extend %link;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }
}

.radio_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99px;
  height: 25px;
}

input[type='radio'] {
  appearance: none;
  display: none;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
  transition: linear 0.3s;
  color: #6e6e6edd;
}

input[type='radio']:checked + label {
  background-color: #1e90ff;
  color: #f1f3f5;
  font-weight: 900;
  transition: 0.3s;
}
