//============
// Header
//============
.header {
  width: 100vw;
  margin: 0 auto;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  @include for-size(mobile) {
    left: calc((100% - $mobile) / 2);
  }
  &__phone {
    @extend %link;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }
  &__row {
    position: relative;
    // margin: 0 auto;

    &--first {
      background: rgba(245, 245, 250, 0.2);
      padding: 10px 0;
    }
    &--second {
      padding: 15px;
      justify-content: start;
    }
  }
  &__contacts-list {
    @extend %list;
  }
  &__link {
    display: none;
    @include for-size(tabletsd) {
      display: block;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(var(--padding-mobile) / 2);
  }
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99px;
  height: 25px;
  &__input {
    appearance: none;
    display: none;
    &:checked + label {
      background-color: #f0145a;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 25px;
    border-radius: 8px;
    overflow: hidden;
    background-color: inherit;
    transition: background-color var(--animation);
    color: var(--color-white);
    &:hover {
      cursor: pointer;
    }
  }
}

.logo {
  width: 69px;
}
