.js-menu {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: calc(100vw - 16px);
  background-color: rgb(114, 158, 114);
  border-radius: 12px 12px 0px 0px;
  transform: translateX(-50%) scaleY(0) translateY(100%);
  transform-origin: bottom;
  padding: 65px 12px 12px;

  z-index: 99;
  transition: transform var(--animation);
  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__link {
    @extend %link;
    display: block;
    color: var(--color-active-regular);
    background-color: var(--color-grey-bg);
  }
  &__close {
    position: absolute;
    right: 33px;
    top: 23px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all var(--animation);
    &:hover,
    &:active {
      background-color: var(--color-grey-separator);
    }
    &::before,
    &::after {
      @include pseudo;
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--color-accent);
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.open.js-menu {
  transform: translateX(-50%) scaleY(1) translateY(0);
}

.js-open-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  padding: 9px 6px;
  margin-left: auto;
  transition: background var(--animation);
  &:hover,
  &:active {
    cursor: pointer;
    background: var(--color-main-alt);
    .light & {
      background: var(--color-grey-separator);
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
  }
  @include for-size(tablet) {
    display: none;
  }
}
