.hamburger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  z-index: 99;
}

.js-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 350px;
  height: 100vh;
  background-color: #000;
  transform: scaleX(0%);
  transform-origin: right;
  padding: 15% 60px;
  transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
  &__list {
    list-style-type: none;
    &--copy {
      @include for-size(desktop) {
        display: none;
      }
    }
  }
  &__link {
    display: block;
    font-family: 'D-DIN', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 2.5;
    text-align: right;
    border-bottom: 1pt solid #252525;
    transition: color 400ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      color: #8b939b;
    }
  }
  z-index: 0;
}

.open.js-menu {
  transform: scaleX(100%);
}

#nav-icon4 {
  width: 21px;
  height: 16px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 6px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 12px;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
  left: 3px;
}

.scroll-disable {
  position: fixed;
  overflow-y: scroll;
}
