.nav-tabs {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  border-bottom: 2px solid #ddd;
}

.nav-tabs > li > a {
  color: #666;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  color: #4285f4 !important;
  background: transparent;
}

.nav-tabs::-webkit-scrollbar {
  display: none; /*Safari and Chrome*/
}
