.titles {
  &__wrapper {
    display: flex;
    color: var(--color-active-regular);
    align-items: center;
    margin-bottom: 5px;
  }
  &__first {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__second {
    @include red-text;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 30px;
    @include for-size(tabletsd) {
      font-size: 38px;
      line-height: 1.21;
    }
    &--long {
      @include for-size(tabletsd) {
        margin-bottom: 60px;
      }
      @include for-size(tablethd) {
        padding: 0 120px;
      }
    }
    &--centered {
      text-align: center;
    }
  }
  &__icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;
    fill: transparent;
  }
}
