<section class="section brands">
  <h2 class="visually-hidden">Our Brands</h2>
  <ul class="brands__list">
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #1c4280">
        <img src="./images/home/lg1.svg" alt="logo1" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #143646">
        <img src="./images/home/lg2.svg" alt="logo2" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #f48b30">
        <img src="./images/home/lg3.svg" alt="logo3" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #9e4dc3">
        <img src="./images/home/lg4.svg" alt="logo4" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #fd9339">
        <img src="./images/home/lg5.svg" alt="logo5" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #e2e2e4">
        <img src="./images/home/lg6.svg" alt="logo6 loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #c71c36">
        <img src="./images/home/lg7.svg" alt="logo7" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #dcf3f9">
        <img src="./images/home/lg8.svg" alt="logo8" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #eaeaea">
        <img src="./images/home/lg9.svg" alt="logo9" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #282240">
        <img src="./images/home/lg10.svg" alt="logo10" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #1d4568">
        <img src="./images/home/lg11.svg" alt="logo11" loading="lazy" />
      </a>
    </li>
    <li class="brands__item">
      <a href="#" class="brands__link" style="background: #000000">
        <img src="./images/home/lg12.svg" alt="logo12" loading="lazy" />
      </a>
    </li>
  </ul>
</section>
