<section class="section crew">
  <div class="container">
    <h2 class="visually-hidden">Our crew</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide crew__slide">
          <div class="crew__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="crew__image"
            />
          </div>
          <div class="crew__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="crew__name">Олександр Олександровський</p>
            <p class="crew__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide crew__slide">
          <div class="crew__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="crew__image"
            />
          </div>
          <div class="crew__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="crew__name">Олександр Олександровський</p>
            <p class="crew__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide crew__slide">
          <div class="crew__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="crew__image"
            />
          </div>
          <div class="crew__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="crew__name">Олександр Олександровський</p>
            <p class="crew__position">Керуючий партнер</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination crew__pagination"></div>
    </div>
  </div>
</section>
