<section class="section publication">
  <div class="container">
    <include
      src="./partials/components/title.html"
      locals='{
        "first": "Publications",
        "second": "We have something to tell"
    }'
    ></include>
    <ul class="publication__list">
      <li>
        <a href="" class="publication__card">
          <img
            src="./images/home/publication1.jpg"
            alt="publication1"
            loading="lazy"
            class="image publication__image"
          />
          <div class="publication__details">
            <h3 class="publication__title">Equity associate</h3>
            <p class="publication__date">April 22</p>
            <p class="publication__text">
              What and how modern vloggers, opinion leaders and
              crypto-millionaires will inherit A typical legacy of the Ukrainian
              generation X looks like this: an apartment in…
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="publication__card">
          <img
            src="./images/home/publication2.jpg"
            alt="publication2"
            loading="lazy"
            class="image publication__image"
          />
          <div class="publication__details">
            <h3 class="publication__title">
              Penalty for the Good Corporation: what will happen to Google and
              others for violating the GDPR
            </h3>
            <p class="publication__date">September 29</p>
            <p class="publication__text">
              And why the recovery of 50 million euros could be a fateful
              precedent According to Mind.ua January 21 National Commission for
              Data Protection.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="publication__card">
          <img
            src="./images/home/publication3.jpg"
            alt="publication3"
            loading="lazy"
            class="image publication__image"
          />
          <div class="publication__details">
            <h3 class="publication__title">Millennial Testament</h3>
            <p class="publication__date">August 19</p>
            <p class="publication__text">
              What and how modern vloggers, opinion leaders and
              crypto-millionaires will inherit A typical legacy of the Ukrainian
              generation X looks like this: an apartment in…
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
