<section class="section publication">
  <div class="container">
    <include
      src="./partials/components/title.html"
      locals='{
        "first": "Publications",
        "second": "We have something to tell"
    }'
    ></include>
    <ul class="publication__list">
      <li>
        <a href="" class="publication__card">
          <img
            src="./images/home/publication1.jpg"
            alt="publication1"
            loading="lazy"
            class="image publication__image"
          />
          <div class="publication__details">
            <h3 class="publication__title">Equity associate</h3>
            <p class="publication__date">April 22</p>
            <p class="publication__text">
              What and how modern vloggers, opinion leaders and
              crypto-millionaires will inherit A typical legacy of the Ukrainian
              generation X looks like this: an apartment in…
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
