<section class="section services">
  <div class="container">
    <h3 class="services__subtitle">Services</h3>
    <h2 class="services__title">What can we do better than others?</h2>
    <ul class="services__list">
      <li class="services__item">
        <svg height="64" width="64" class="icon">
          <use href="./images/icons.svg#icon-ecommerce"></use>
        </svg>
        <h4 class="services__name">IT and e-commerce</h4>
        <p class="services__text">
          An endless stream of contracts, tax issues, labor relations, corporate
          papers - legal work distracts you from doing business. But there is
          not much work to do to hire an in-house lawyer.
        </p>
      </li>
    </ul>
  </div>
</section>
