<section class="section services">
  <div class="container">
    <div class="services__wrapper">
      <h3 class="services__subtitle">Services</h3>
      <svg height="12" width="12" class="icon services__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>

    <h2 class="services__title">What can we do better than others?</h2>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__wrapper-white">
          <img src="./images/ecommerce.svg" alt="basket" />
        </div>

        <h4 class="services__name">IT and e-commerce</h4>
        <p class="services__text">
          An endless stream of contracts, tax issues, labor relations, corporate
          papers - legal work distracts you from doing business. But there is
          not much work to do to hire an in-house lawyer.
        </p>
      </li>
    </ul>
  </div>
</section>
