<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden sss">Our Advantages</h2>
    <div class="tab">
      <ul class="nav tab__list" role="tablist">
        <li role="presentation">
          <a
            href="#home"
            aria-controls="home"
            role="tab"
            data-toggle="tab"
            class="tab__link active show"
            aria-selected="true"
            >Consistent</a
          >
        </li>
        <li role="presentation">
          <a
            href="#profile"
            aria-controls="profile"
            role="tab"
            data-toggle="tab"
            class="tab__link"
            >Customer&nbsporiented</a
          >
        </li>
        <li role="presentation">
          <a
            href="#messages"
            aria-controls="messages"
            role="tab"
            data-toggle="tab"
            class="tab__link"
            >Innovative</a
          >
        </li>
        <li role="presentation">
          <a
            href="#settings"
            aria-controls="settings"
            role="tab"
            data-toggle="tab"
            class="tab__link"
            >Business&nbsporiented</a
          >
        </li>
      </ul>
      <div class="tab__line"></div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="home">
          <h3 class="tab__subtitle">We turn the idea of legal services</h3>
          <p class="tab__text">
            Consolidating many years of experience and practice, the company's
            lawyers accompany complex projects and achieve a number of important
            decisions for the industry. Many of them form the practice of
            applying the law of the sea in Ukraine.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
          <h3 class="tab__subtitle">
            Customer oriented idea of legal services
          </h3>
          <p class="tab__text">
            Consolidating Customer oriented many years Customer oriented of
            experience and practice, the company's lawyers accompany complex
            projects and achieve a number of important decisions for the
            industry. Many of them form the practice of applying the law of the
            sea in Ukraine.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
          <h3 class="tab__subtitle">
            Innovative We turn the idea of legal services
          </h3>
          <p class="tab__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            dolore dignissimos? Et corrupti odit reprehenderit aperiam animi!
            Incidunt tempora, dolores odio, soluta asperiores iusto
            exercitationem id officia nemo eum ex.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
          <h3 class="tab__subtitle">We turn Business oriented</h3>
          <p class="tab__text">
            Lorem Business ipsum dolor sit amet, consectetur adipisicing elit.
            lawyers accompany complex projects and achieve a number of important
            decisions for the industry. Many of them form the practice of
            applying the law of the sea in Ukraine.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
