<section class="section team">
  <div class="container">
    <h2 class="visually-hidden">Our Team</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <include
              src="./partials/components/title.html"
              locals='{
            "first": "команда",
            "second": "Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі."
        }'
            ></include>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination team__pagination"></div>
    </div>
  </div>
</section>
