<section class="section team">
  <div class="container">
    <h2 class="visually-hidden">Our Team</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <div class="team__wrapper">
              <h3 class="team__subtitle">команда</h3>
              <svg height="12" width="12" class="icon services__icon">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <p class="team__text">
              Ми звикли брати на себе відповідальність та завжди гарантуємо
              чесну, вчасну допомогу, навіть у ситуаціях, коли більшість
              безсилі.
            </p>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <div class="team__wrapper">
              <h3 class="team__subtitle">команда</h3>
              <svg height="12" width="12" class="icon services__icon">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <p class="team__text">
              Ми звикли брати на себе відповідальність та завжди гарантуємо
              чесну, вчасну допомогу, навіть у ситуаціях, коли більшість
              безсилі.
            </p>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
        <div class="swiper-slide team__slide">
          <div class="team__image-wrapper">
            <img
              src="./images/home/face1.jpg"
              alt="face1"
              class="team__image"
            />
          </div>
          <div class="team__details">
            <div class="team__wrapper">
              <h3 class="team__subtitle">команда</h3>
              <svg height="12" width="12" class="icon services__icon">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <p class="team__text">
              Ми звикли брати на себе відповідальність та завжди гарантуємо
              чесну, вчасну допомогу, навіть у ситуаціях, коли більшість
              безсилі.
            </p>
            <p class="team__name">Олександр Олександровський</p>
            <p class="team__position">Керуючий партнер</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination team__pagination"></div>
    </div>
    <p class="team__motto">They already trust us</p>
  </div>
</section>
